.product_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding-inline: 4rem;

}

::deep .card > img {
    transition: all 0.25s ease-in-out;
}


::deep .card > img:hover {
    transform: scale(1.04);
    cursor: pointer;
}