@page "/products/details"

<PageTitle>Chi tiết sản phẩm</PageTitle>

<div class="container">
    <div class="row">
        <section class="col-md-6 debug">
            <div class="main_image" style="display: flex;justify-content: center;">
                <MudImage class=""
                    Src="https://product.hstatic.net/1000381168/product/upload_994ee33e71df4b8281ef6c2cecf569f0_master.jpg"
                    Height="400" Width="400" />
            </div>
            <div class="side_images" style="display: flex;justify-content: center;gap: 1rem;">
                <MudImage style="border: 1px solid black;"
                    Src="https://product.hstatic.net/1000381168/product/upload_994ee33e71df4b8281ef6c2cecf569f0_master.jpg"
                    Width="100" Height="100" />
                <MudImage style="border: 1px solid black;"
                    Src="https://product.hstatic.net/1000381168/product/upload_994ee33e71df4b8281ef6c2cecf569f0_master.jpg"
                    Width="100" Height="100" />
                <MudImage style="border: 1px solid black;"
                    Src="https://product.hstatic.net/1000381168/product/upload_994ee33e71df4b8281ef6c2cecf569f0_master.jpg"
                    Width="100" Height="100" />
            </div>
        </section>
        <section class="col-md-6 debug">
            <h4 class="product_name fw-bold">Nhẫn nam kim cương tấm vàng 10K Pinnacle 2C W</h4>
            <h5 class="price" style="color: red;font-weight: bold;">14.000.000 VNĐ</h5>
            <div class="old_price"><del>17.000.000 VNĐ</del></div>
            <div class="" style="font-size: large;">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>
    </div>
</div>