nav {
    background-color: #FFF5E1;
}
a {
    text-decoration: none;
    color: black;
}   

.app_logo > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.app_logo {
    aspect-ratio: 1/1;
    height: 2.5rem;
}

.navbar-brand {

}