input:focus + label, input:valid + label {
    transform: translateY(-200%) scale(0.75);
}

.login_btn {
    position: relative;
    overflow: hidden;
    transition: color .3s ease-in-out;
}

.login_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity));
    z-index: -1;
    transition: all .3s ease-in-out;
    transform: translateX(-50%);
}

.login_btn:hover {
    color: white;
}

.login_btn:hover:before {
    width: 100%;
}