.product-container {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  justify-content: center;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
}

.product-card-img-wrap {
  position: relative;
}

.product-card-thumb {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card-info {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

.product-card-price {
  margin-left: auto;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

.product-card-status {
  margin: 16px 0;
  font-size: 1.5rem;
  line-height: 146.667%;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: orangered;
}