<div class="card">
    <img src="https://product.hstatic.net/1000381168/product/upload_38d70f5554214f078e07f5dfc0b13120_master.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <AddToCartButton />
    </div>
</div>